@keyframes to-green {
    0% {
        background-color: white;
        border-color: lightskyblue;
        transform: scaleX(1);
    }

    49.9% {
        background-color: white;
        border-color: lightskyblue;
        transform: scaleX(0);
    }

    50% {
        background-color: #00ef00;
        border-color: #00ef00;
        font-weight: 700;
        transform: scaleX(0);
    }

    100% {
        background-color: #00ef00;
        border-color: #00ef00;
        font-weight: 700;
        transform: scaleX(1);
    }
}

@keyframes to-yellow {
    0% {
        background-color: white;
        border-color: lightskyblue;
        transform: scaleX(1);
    }

    49.9% {
        background-color: white;
        border-color: lightskyblue;
        transform: scaleX(0);
    }

    50% {
        background-color: #e79b0b;
        border-color: #e79b0b;
        font-weight: 700;
        transform: scaleX(0);
    }

    100% {
        background-color: #e79b0b;
        border-color: #e79b0b;
        font-weight: 700;
        transform: scaleX(1);
    }
}

@keyframes to-grey {
    0% {
        background-color: white;
        border-color: lightskyblue;
        transform: scaleX(1);
    }

    49.9% {
        background-color: white;
        border-color: lightskyblue;
        transform: scaleX(0);
    }

    50% {
        background-color: #AAAAAA;
        border-color: #AAAAAA;
        font-weight: 700;
        transform: scaleX(0);
    }

    100% {
        background-color: #AAAAAA;
        border-color: #AAAAAA;
        font-weight: 700;
        transform: scaleX(1);
    }
}

@keyframes to-opaque {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    flex-direction: column;
}

.board div {
    display: flex;
    justify-content: center;
    margin-bottom: 0.25rem;
}

.board div:last-child {
    margin-bottom: 0;
}

.board p {
    min-width: 1.25rem;
    min-height: 1.25rem;
    border: 2px solid lightskyblue;
    margin: 0 0.25rem 0 0;
    padding: 0.5rem;
    text-align: center;
}

.board p:last-child {
    margin-right: 0;
}

.keyboard {
    margin-top: 1rem;
}

.keyboard a {
    margin: 0 0.25rem 0.25rem 0;
    background-color: lightskyblue;
    padding: 0.5rem;
    min-width: 1.1rem;
    text-align: center;
    cursor: pointer;
    padding: 0.5rem;
    font-weight: 700;
    border-radius: 0.25rem;
}

.keyboard a:hover,
.keyboard a:active {
    opacity: 0.85;
}

#enter-key,
#bs-key {
    font-size: 0.5rem;
    padding: 0.75rem 0.75rem 0.5rem 0.75rem;
}

#message {
    margin: 0.25rem 0.5rem 1rem 0.5rem;
    border-radius: 0.5rem;
    background-color: lightskyblue;
    font-size: 0.75rem;
    padding: 1rem;
    min-height: 1.25rem;
    font-weight: 900;
    opacity: 0;
}

#message.show {
    animation: to-opaque 0.5s forwards;
}

.board p.green {
    animation: to-green 0.5s linear forwards;
}

.keyboard a.green {
    background-color: #00ef00;
    border-color: #00ef00;
    font-weight: 700;
}

.board p.yellow {
    animation: to-yellow 0.5s linear forwards;
}

.keyboard a.yellow {
    background-color: #e79b0b;
    border-color: #e79b0b;
    font-weight: 700;
}

.board p.grey {
    animation: to-grey 0.5s linear forwards;
}

.keyboard a.grey {
    background-color: #AAAAAA;
    border-color: #AAAAAA;
    font-weight: 700;
}
