<!doctype html>
    <html>
        <head>
            <title>{% block title %}Wordle Hurdle Prototype{% endblock %} - Flaskr</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
            {% block css %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="\">Help</a></li>
                <li><a href="\">Settings</a></li>
                
            </ul>
        </nav>
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
    {% block js %}{% endblock %}
</html>