{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />{% endblock %}
{% block content %}
<div class="container" id="message-container">
    <div id="message"></div>
</div>
<div class="container">
    <div class="board">
        <div>
            <p id="g-1-1"></p>
            <p id="g-1-2"></p>
            <p id="g-1-3"></p>
            <p id="g-1-4"></p>
            <p id="g-1-5"></p>
        </div>
        <div>
            <p class="" id="g-2-1"></p>
            <p id="g-2-2"></p>
            <p id="g-2-3"></p>
            <p id="g-2-4"></p>
            <p id="g-2-5"></p>
        </div>
        <div>
            <p id="g-3-1"></p>
            <p id="g-3-2"></p>
            <p id="g-3-3"></p>
            <p id="g-3-4"></p>
            <p id="g-3-5"></p>
        </div>
        <div>
            <p id="g-4-1"></p>
            <p id="g-4-2"></p>
            <p id="g-4-3"></p>
            <p id="g-4-4"></p>
            <p id="g-4-5"></p>
        </div>
        <div>
            <p id="g-5-1"></p>
            <p id="g-5-2"></p>
            <p id="g-5-3"></p>
            <p id="g-5-4"></p>
            <p id="g-5-5"></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="board keyboard">
        <div>
            <button>Q</button><button>W</button><button>E</button><button>R</button><button>T</button><button>Y</button><button>U</button><button>I</button><button>O</button><button>P</button>
        </div>
        <div>
            <button>A</button><button>S</button><button>D</button><button>F</button><button>G</button><button>H</button><button>J</button><button>K</button><button>L</button>
        </div>
        <div><button
                id="enter-key">ENTER</button><button>Z</button><button>X</button><button>C</button><button>V</button><button>B</button><button>N</button><button>M</button><button
                id="bs-key">BACKSPACE</button></div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='index.js') }}"></script>{% endblock %}
