{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="board">
        <div>
            <p id="g-1-1"></p><p id="g-1-2"></p><p id="g-1-3"></p><p id="g-1-4"></p><p id="g-1-5"></p>
        </div>
        <div>
            <p class="" id="g-2-1"></p>
            <p id="g-2-2"></p>
            <p id="g-2-3"></p>
            <p id="g-2-4"></p>
            <p id="g-2-5"></p>
        </div>
        <div>
            <p id="g-3-1"></p>
            <p id="g-3-2"></p>
            <p id="g-3-3"></p>
            <p id="g-3-4"></p>
            <p id="g-3-5"></p>
        </div>
        <div>
            <p id="g-4-1"></p>
            <p id="g-4-2"></p>
            <p id="g-4-3"></p>
            <p id="g-4-4"></p>
            <p id="g-4-5"></p>
        </div>
        <div>
            <p id="g-5-1"></p>
            <p id="g-5-2"></p>
            <p id="g-5-3"></p>
            <p id="g-5-4"></p>
            <p id="g-5-5"></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="board keyboard">
        <div><a>Q</a><a>W</a><a>E</a><a>R</a><a>T</a><a>Y</a><a>U</a><a>I</a><a>O</a><a>P</a></div>
        <div><a>A</a><a>S</a><a>D</a><a>F</a><a>G</a><a>H</a><a>J</a><a>K</a><a>L</a></div>
        <div><a id="enter-key">ENTER</a><a>Z</a><a>X</a><a>C</a><a>V</a><a>B</a><a>N</a><a>M</a><a id="bs-key">BACKSPACE</a></div>
    </div>
</div>
{% endblock %}